<div class = "hero-unit">
	<h2>About</h2>
		</br>
		<h5>
			This is your new home for all of those fantastic photos you took on vacation. </br>The aim is to not only store and view your own photos, but to share them with the world. </br>Think of it as a giant travel photo album assembled by...everyone. 
		</h5>
	</br>
	<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large" %>
</div>